<div id="wrapper">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SCS ADMIN</a> 
    </div>
    <div style="color: white;padding: 15px 50px 5px 50px;float: right;
    font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>
  </nav>          
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li class="text-center">
          <%= image_tag "find_user.png", class: "user-image img-responsive"%>
        </li>      
        <li>
          <a class="active-menu"  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
        </li>
         <li>
          <a href="#"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
        </li>
        <li>
          <a   href="#"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
        </li> 
        <li>
          <a  href="#"><i class="fa fa-table fa-3x"></i> Table Examples</a>
        </li>
        <li>
          <a  href="#"><i class="fa fa-edit fa-3x"></i> Forms </a>
        </li>                            
        <li>
          <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">Second Level Link</a>
            </li>
            <li>
              <a href="#">Second Level Link</a>
            </li>
            <li>
              <a href="#">Second Level Link<span class="fa arrow"></span></a>
              <ul class="nav nav-third-level">
                <li>
                  <a href="#">Third Level Link</a>
                </li>
                <li>
                  <a href="#">Third Level Link</a>
                </li>
                <li>
                  <a href="#">Third Level Link</a>
                </li>
              </ul>               
            </li>
          </ul>
        </li>  
        <li>
          <a  href="#"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
        </li> 
      </ul>               
    </div>            
  </nav>  
  <div id="page-wrapper" >
    <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
         <h2>Admin Dashboard</h2>   
            <h5>Welcome Jhon Deo , Love to see you back. </h5>
        </div>
      </div>    
      <hr />
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">           
          <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
              <i class="fa fa-envelope-o"></i>
            </span>
            <div class="text-box" >
              <p class="main-text">120 New</p>
              <p class="text-muted">Messages</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">           
          <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-green set-icon">
              <i class="fa fa-bars"></i>
            </span>
            <div class="text-box" >
              <p class="main-text">30 Tasks</p>
              <p class="text-muted">Remaining</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">           
          <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue set-icon">
              <i class="fa fa-bell-o"></i>
            </span>
            <div class="text-box" >
              <p class="main-text">240 New</p>
              <p class="text-muted">Notifications</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">           
          <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-brown set-icon">
              <i class="fa fa-rocket"></i>
            </span>
            <div class="text-box" >
              <p class="main-text">3 Orders</p>
              <p class="text-muted">Pending</p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<script src="assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="assets/js/morris/morris.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />