<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <%= image_tag "find_user.png", class: "user-image img-responsive"%>
      </li>      
      <li>
        <a class="active-menu"  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
      </li>
       <li>
        <a href="#"><i class="fa fa-calendar fa-3x"></i>Timetable</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-book fa-3x"></i>Subjects</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user fa-3x"></i>Students</a>
      </li> 
      <li>
        <a href="#"><i class="fa fa-edit fa-3x"></i>Admission</a>
      </li>
      <li>
        <a  href="#"><i class="fa fa-table fa-3x"></i>Campus News</a>
      </li>                            
      <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-3x"></i>Examinations</a>
      </li>  
      <li>
        <a href="/users"><i class="fa fa-envelope-o fa-3x"></i>Messages</a>
      </li> 
    </ul>               
  </div>            
</nav>  